*.log
.DS_Store
.checkstyle
.fbprefs
.gradle
.pmd
.ruleset
.settings/
bin/
build/
config/checkstyle/
config/findbugs/
config/pmd/
data/
dist/
grails-app/conf/Config.groovy
prodDb.*
target/
target-eclipse/
test-output/
tmp/
